.title {
    width: calc(100% - 60px);
    padding: 5px 10px;
    border-radius: 6px;
    color: var(--primary-color);
    background: rgb(255 255 255 / 50%);
    position: absolute;
    bottom: 30px;
    left: 30px;
    backdrop-filter: blur(10px);
}

.text {
    color: var(--primary-color);
    text-shadow: 2px 2px 2px rgba(255 255 255 / 80%);
}

.wrapper {
    background: red;
}